@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul: #1d3552;
    --azulOscuro: #0f1e30;
    --verdeClaro: #84bb79;
    --verdeOscuro: #1c381a;
    --blanco: #fff;
    --fuente: 'Libre Franklin', sans-serif;
}

body {
    font-family: var(--fuente);
    background-color: var(--azulOscuro);
    display: flex;
    align-items: center;
    height: 100vh;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.contenedor {
    margin:0 auto;
    max-width: 1200px;
    width: 95%;
}

.imagen-formulario{
    background-image: url('../img/Solicitud.jpg');
    background-size: center center;
    background-size: cover;
    height: 200px;
    flex: 0 0 calc(60%);
    position: relative;
}
.imagen-formulario::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(62, 79, 95, 0.5), rgba(19,64,116,.5));
}

@media(min-width:768px){
    .imagen-formulario{
        height: auto;
        background-position: right;
    }
}
@media(min-width:1200px){
    .imagen-formulario{
        background-position: center;
    }
}
@media(min-width:768px){
    .contenedor-formulario{
        display: flex;
    }
}

.formulario{
    padding: 50px;
    background-color: var(--azul);
}

.texto-formulario h2, p, .input label, .password-olvidada a{
    color: var(--blanco);
}

.texto-formulario h2{
    font-size: 50px;
    text-align: center;
}

.texto-formulario{
    font-size: 22px;
    text-align: center;
}

.input label{
    display:block;
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

.password-olvidada{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
}

.input input{
    width: 100%;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
}

.input input[type="submit"]{
    background-color: var(--verdeClaro);
    color: var(--blanco);
    font-size: 22px;
    font-weight: bold;
    border: none;
    transition: background-color .3s ease-in-out;
    margin-top: 20px;
}

.input input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--verdeOscuro);
}